@media (min-width:1500px)and (max-width:2560px) {
    #master-div {
        width: 1500px;
        height: auto;
        display: flex;
        margin: auto;
    }

    .website img {
        width: 344px;
    }

    .model-one {
        width: 545px;
    }

    .input-wrapper {
        width: 1104px;
    }

    .input-container {
        width: 513px;
    }

    textarea.form-input {
        width: 1050px;
    }

    .form-button {
        left: 896px;
    }

    .skill {
        width: 1100px;
    }

    .educations p {
        width: 1100px;
    }


    iframe {
        width: 1088px;
    }
}

@media (min-width:1368px)and (max-width:1440px) {
    #master-div {
        display: flex;
    }

    #main {
        padding-bottom: 19px;
    }

    .educations p {
        width: 954px;
        font-size: 18px;
    }

    .input-wrapper {
        width: 1032px;
    }

    .devlop {
        padding-top: 10px;
    }

    .form-button {
        left: 850px;
    }

    .input-container {
        width: 484px;
    }

    textarea.form-input {
        width: 1001px;
        height: 171px;
        margin-top: 14px;
    }

    .model-one {
        width: 501px;
    }

    .website img {
        width: 328px;
        height: 225px;
    }

    .skill {
        width: 1031px;
    }

    iframe {
        width: 1020px;
    }

}

@media (min-width:1024px)and (max-width:1249px) {
    #master-div {
        display: block;
        gap: 0px;
    }

    #buto {
        top: 100px;
        left: 121px;
    }

    /* SideBar Page */
    #container-on {
        width: 950px;
        margin: auto;
        margin-top: 15px;
    }

    .sidebar {
        height: auto;
        display: block;
        align-items: center;
        margin-bottom: 14px;
        position: relative;
    }

    .profile {
        display: flex;
        align-items: center;
    }

    .sidebar h3 {
        font-size: 22px;
    }

    .radius {
        width: 155px;
        height: 155px;
        border: 2px solid #e0c264;
        border-radius: 50%;
    }

    #dhruv h3 {
        width: 280px;
    }

    .button::after {
        display: none;
    }

    .hide-show::before {
        content: '';
        display: block;
        position: absolute;
        top: 212px;
        width: 91%;
        left: 40px;
        height: 2px;
        background-color: #383838;
        margin-bottom: 10px;
    }

    .hide-show::after {
        content: '';
        display: block;
        position: absolute;
        top: 392px;
        width: 91%;
        left: 40px;
        height: 2px;
        background-color: #383838;
        margin-bottom: 40px;
    }

    .sidecontact {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-content: space-evenly;
        align-items: center;
        gap: 12px 15px;
        margin: 0;
    }

    .phone {
        width: 426px;
        display: flex;
        align-items: center;
    }

    #Adress-1,
    #Address-2 {
        margin-left: 51px;
    }

    .sidecontact li {
        line-height: 4;
    }

    .Icon-box {
        display: block;
    }

    .contact a {
        font-size: 16px;
    }

    .contact p {
        font-size: 15px;
    }

    .social_list {
        font-size: 22px;
        margin-inline-start: 54px;
    }

    .sidebar ol {
        display: none;
    }

    .sidebar label {
        display: block;
        width: 120px;
        height: 36px;
        padding: 8px;
        right: 0px;
        top: 0px;
        background-color: #202022;
        color: #ceb15a;
        font-size: 12px;
        position: absolute;
        cursor: pointer;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        box-shadow: 0 24px 80px hsla(0, 0%, 0%, 0.25);
        ;
    }

    .sidebar input[type="checkbox"]:checked+ol {
        display: block;
    }

    /* AboutUs Page */
    #main {
        width: 944px;
    }

    .web {
        width: 908px;
        font-size: 16px;
    }

    #AboutUS {
        height: 630px;
    }

    #aboutUs h2::after,
    #Contact h2::after,
    #resume h2::after,
    #potfolio h2::after {
        width: 68px;
        top: 65px;
        left: 49px;
    }

    #Adress {
        display: none;
    }

    .tex p {
        font-size: 17px;
    }

    #model {
        margin-top: 23px;
    }

    #aboutUs h2,
    #Contact h2,
    #resume h2,
    #potfolio h2 {
        font-size: 34px;
        font-weight: 600;
    }

    /* Resume Page */
    .red {
        width: 819px;
        font-size: 20px;
    }

    #imwhat {
        font-size: 25px;
    }

    .resume h6 {
        font-size: 20px;
        color: #FAFAFA;
    }

    .resume h3 {
        font-size: 18px;
        overflow: hidden;
    }

    .skill {
        width: 874px;
    }

    .model-one {
        width: 430px;
    }

    /* Potfolio page */
    .website img {
        width: 282px;
        height: 239px;
    }

    iframe {
        width: 855px;
    }

    textarea.form-input {
        width: 844px;
    }

    .input-container {
        width: 405px;
    }

    .form-button {
        margin-bottom: 18px;
        left: 696px;
    }

}

@media(min-width:768px)and (max-width:1023px) {

    #master-div {
        display: block;
    }

    #buto {
        top: 81px;
        left: 91px;
    }

    /* SideBar Page */
    #container-on {
        width: 714px;
        margin: auto;
        margin-top: 15px;
    }

    .sidebar {
        height: auto;
        padding-bottom: 10px;
        display: block;
        margin-bottom: 14px;
    }

    .profile {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        margin-top: 19px;
    }

    .sidebar h3 {
        font-size: 22px;
    }

    .sidecontact {
        margin: 0;
        display: grid;
        grid-template-columns: 302px 302px;
        gap: 20px;
    }

    .contact {
        padding-top: 5px;
    }

    .sidecontact li {
        line-height: 4;
    }

    #Adress-1 {
        margin: 38px 0px 0px 32px;
    }

    #Adress-2 {
        margin: 38px 0px 0px 32px;
    }

    .button::after {
        display: none;
    }

    .hide-show::before {
        content: '';
        display: block;
        position: absolute;
        top: 201px;
        width: 86%;
        height: 2px;
        background-color: #383838;
        margin-bottom: 10px;
        left: 51px;
    }

    .hide-show::after {
        content: '';
        display: block;
        position: absolute;
        top: 397px;
        width: 86%;
        left: 51px;
        height: 2px;
        background-color: #383838;
        margin-bottom: 5px;
    }

    .Icon-box {
        height: 30px;
        padding-top: 16px;
    }

    .social_list {
        margin: 3px 40px;
    }

    .radius {
        margin: 0;
    }

    .sidebar ol {
        display: none;
    }

    .text-i {
        padding-left: 5px;
    }

    .sidebar label {
        display: block;
        width: 120px;
        height: 36px;
        padding: 8px;
        top: 0px;
        right: 0px;
        background-color: #202022;
        color: #ceb15a;
        font-size: 11px;
        position: absolute;
        padding-left: 13px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }

    .sidebar input[type="checkbox"]:checked+ol {
        display: block;
    }

    #nav {
        position: fixed;
        display: flex;
        justify-content: center;
        top: 88vh;
        width: 100%;
        margin-left: -20px;
        height: 13vh;
        padding: 0px 10px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 0px;
        background: hsla(240, 1%, 17%, 0.75);
        backdrop-filter: blur(10px);
        left: 20px;
        z-index: 10;
    }

    #nav ul {
        gap: 58px;
        padding-top: 38px;
    }

    /* AboutUs Page */
    #main {
        width: 944px;
        height: auto;
        margin-bottom: 15vh;
    }

    .web {
        width: 684px;
        font-size: 13px;
        margin-top: 0px;
    }

    #aboutUs h2::after,
    #Contact h2::after,
    #resume h2::after,
    #potfolio h2::after {
        left: 31px;
        height: 6px;
        width: 56px;
    }

    .sidebar button::after {
        display: none;
    }

    #Adress {
        display: none;
    }

    #model {
        flex-wrap: wrap;
        margin-top: 18px;
    }

    #AboutUS {
        height: 698px;
    }

    .model-one {
        width: 666px;
    }

    .tex p {
        font-size: 15px;
    }

    #aboutUs h2,
    #Contact h2,
    #resume h2,
    #potfolio h2 {
        font-size: 32px;
        font-weight: 600;

    }

    #imwhat {
        font-size: 23px;
        padding-left: 9px;
    }

    /* Resume Page */
    #resume {
        height: auto;
    }

    .red {
        width: 623px;
        font-size: 19px;
    }

    .education-header {
        margin-top: 33px;
    }

    .resume h6 {
        font-size: 20px;
        color: #FAFAFA;
    }

    .resume h3 {
        font-size: 15px;
    }

    .skill {
        width: 662px;
    }

    .header::before {
        height: 323px;
        left: 58px;
        top: 144px;
    }

    .header::after {
        top: 293px;
        left: 54px;
    }

    .educations::after {
        top: 171px;
        left: 54px;
    }

    .educations p::after {
        left: 54px;
        top: 455px;
    }

/* Achivement page */
#Achive{
    height: auto;
}


    /* Potfolio page */
    #port {
        height: 1050px;
    }

    .website h3 {
        font-size: 18px;
    }

    #potfolio {
        height: auto;
    }

    .website img {
        width: 213px;
        height: 196px;
    }

    /* Contact Page */
    iframe {
        width: 650px;
    }

    textarea.form-input {
        width: 640px;
    }

    #contact h3 {
        width: auto;
    }

    .input-container {
        width: 305px;
    }

    .form-button {
        margin-bottom: 18px;
        left: 491px;
    }

    .contactForm {
        width: 500px;
    }

    .input-wrapper {
        width: auto;
    }
}

@media(min-width:580px)and (max-width:767px) {
    #master-div {
        display: block;
    }

    #buto {
        top: 99px;
        left: 214px;
    }

    /* SideBar Page */
    #container-on {
        width: 536px;
        margin: auto;
        margin-top: 15px;
    }

    .profile {
        width: 489px;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .button {
        height: 32px;
        font-size: 13px;
        margin: 0;
    }

    .button::after {
        display: none;
    }

    .sidebar {
        height: auto;
        padding-bottom: 10px;
        display: block;
        justify-content: center;
        margin-bottom: 14px;
        gap: 25px;
    }

    .sidebar p {
        width: max-content;
    }

    .sidebar h3 {
        font-size: 25px;
    }

    .sidebar img {
        width: 141px;
        height: 141px;
    }

    .radius {
        height: 145px;
        margin: 0;
    }

    .hide-show::before {
        content: '';
        display: block;
        position: absolute;
        top: 460px;
        width: 88%;
        left: 32px;
        height: 2px;
        background-color: #383838;
        margin-bottom: 10px;
    }

    .sidecontact li {
        line-height: 2;
    }

    .hide-show::after {
        content: '';
        display: block;
        position: absolute;
        top: 215px;
        width: 88%;
        left: 32px;
        height: 2px;
        background-color: #383838;
        margin-bottom: 5px;
    }

    .sidecontact {
        margin-left: 30px;
    }

    .social_list {
        margin-top: 25px;
    }

    .sidebar ol {
        display: none;
    }

    .sidebar label {
        display: block;
        width: 38px;
        height: 35px;
        padding: 8px;
        right: 0px;
        top: 0px;
        background-color: #202022;
        color: #ceb15a;
        font-size: 12px;
        position: absolute;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }

    .sidebar input[type="checkbox"]:checked+ol {
        display: block;
    }

    .close {
        display: none;
    }

    #text-i {
        padding-left: 5px;
    }

    #nav {
        position: fixed;
        display: flex;
        justify-content: center;
        top: 90vh;
        width: 100%;
        margin-left: -20px;
        height: 10vh;
        padding: 0px 10px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 0px;
        background: hsla(240, 1%, 17%, 0.75);
        backdrop-filter: blur(10px);
        left: 20px;
    }

    /* AboutUs Page */
    #main {
        width: 580px;
        height: auto;
        margin-bottom: 15vh;
    }

    .web {
        width: 523px;
        font-size: 16px;
        margin-top: 0px;
    }

    #aboutUs h2::after,
    #Contact h2::after,
    #resume h2::after,
    #potfolio h2::after {
        left: 31px;
    }

    #Adress {
        display: none;
    }

    #model {
        flex-wrap: wrap;
        margin-top: 18px;
    }

    #AboutUS {
        height: 903px;
    }

    .model-one {
        width: 666px;
    }

    #aboutUs h2,
    #Contact h2,
    #resume h2,
    #potfolio h2 {
        font-size: 32px;
        font-weight: 600;
    }

    #imwhat {
        font-size: 23px;
        padding-left: 9px;
    }

    .tex p {
        font-size: 16px;
    }

    .tex h4 {
        font-size: 22px;
        color: #fafafa;
    }

    /* Resume Page */
    #resume {
        height: auto;
    }

    .red {
        width: 425px;

        font-size: 16px;
    }

    .resume h6 {
        font-size: 20px;
        color: #FAFAFA;
    }

    .resume h3 {
        font-size: 15px;
    }

    .skill {
        width: 482px;
        height: auto;
    }

    .educations h4 {
        font-size: 17px;
        font-weight: 700;
    }

    .header::before {
        height: 389px;
        top: 166px;
        left: 58px;
    }

    .header::after {
        left: 54px;
    }

    .educations::after {
        top: 340px;
        left: 54px;
    }

    .educations p::after {
        top: 548px;
        left: 54px;
    }

    /* Potfolio page */
    #port {
        height: 2835px;
    }

    #potfolio {
        height: auto;
    }

    .website img {
        width: 471px;
        height: 239px;
    }

    .website h5 {
        margin-bottom: 15px;
    }

    /* Contact Page */
    iframe {
        width: 470px;
        height: 263px;
    }

    #contact h3 {
        width: auto;
    }

    textarea.form-input {
        width: 457px;
    }

    .input-container {
        width: 453px;
    }

    .form-button {
        margin-bottom: 18px;
        left: 309px;
    }

    .contactForm {
        width: 500px;
    }

    .input-wrapper {
        width: auto;
    }
}

@media(min-width:425px)and (max-width:579px) {
    #master-div {
        display: block;
    }

    #buto {
        top: 80px;
        left: 155px;
    }

    /* SideBar Page */
    #container-on {
        width: 401px;
        margin: auto;
        margin-top: 15px;
    }

    .sidebar {
        height: auto;
        display: block;
        align-items: center;
        margin-bottom: 14px;
    }

    .profile {
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
        align-items: center;
        margin-top: 28px;
    }

    .button {
        height: 34px;
        margin: 0px 0px 4px 4px;
        font-size: 14px;
    }

    .button::after {
        display: none;
    }

    .sidebar img {
        width: 118px;
        height: 128px;
    }

    .radius {
        width: 143px;
        height: 132px;
    }

    .sidebar h3 {
        font-size: 17px;
    }

    .sidebar p {
        font-size: 13px;
    }

    .radius {
        margin: 0;
    }

    .sidecontact {
        margin: 0;
        margin-left: 27px;
    }

    .sidebar button {
        margin: 0px;
    }

    .hide-show::before {
        content: '';
        display: block;
        position: absolute;
        width: 83%;
        height: 2px;
        background-color: #383838;
        margin-bottom: 10px;
        left: 35px;
    }

    .hide-show::after {
        content: '';
        display: block;
        position: absolute;
        top: 426px;
        width: 83%;
        left: 35px;
        height: 2px;
        background-color: #383838;
        margin-bottom: 5px;
    }

    .Icon-box {
        padding-top: 10px;
    }

    .close {
        display: none;
    }

    .sidebar ol {
        display: none;
    }

    .sidebar label {
        display: block;
        width: 38px;
        height: 35px;
        padding: 8px;
        right: 0px;
        top: 0px;
        text-align: center;
        background-color: #202022;
        color: #ceb15a;
        font-size: 12px;
        position: absolute;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }

    .sidebar input[type="checkbox"]:checked+ol {
        display: block;
    }

    #nav {
        position: fixed;
        display: flex;
        justify-content: center;
        top: 90vh;
        width: 100%;
        margin-left: -20px;
        height: 10vh;
        padding: 0px 10px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 0px;
        background: hsla(240, 1%, 17%, 0.75);
        backdrop-filter: blur(10px);
        left: 20px;
        z-index: 10 ;
    }

    #nav ul {
        font-size: 15px;
        margin-top: 11px;
        gap: 16px;
        padding-left: 0px;
    }

    /* AboutUs Page */
    #main {
        width: 401px;
        height: auto;
        margin-bottom: 15vh;
    }

    .web {
        width: 346px;
        font-size: 14px;
        margin-top: 0px;
    }

    #aboutUs h2::after,
    #Contact h2::after,
    #resume h2::after,
    #potfolio h2::after {
        left: 31px;
        height: 4px;
        top: 49px;
        width: 40px;
    }

    .sidebar button::after {
        display: none;
    }

    #Adress {
        display: none;
    }

    #model {
        flex-wrap: wrap;
        margin-top: 18px;
        width: 370px;
    }

    #AboutUS {
        height: 947px;
    }

    .model-one {
        height: 132px;
    }

    #aboutUs h2,
    #Contact h2,
    #resume h2,
    #potfolio h2 {
        font-size: 24px;
        font-weight: 600;
    }

    #imwhat {
        font-size: 20px;
        padding-left: 9px;
    }

    .tex p {
        font-size: 14px;
    }

    .tex h4 {
        font-size: 17px;
        color: #fafafa;
    }

    /* Resume Page */
    #resume {
        height: auto;
    }

    .red {
        width: auto;
        font-size: 14px;
        line-height: 1.6;
    }

    .education-header {
        margin-top: 31px;
    }

    .resume h6 {
        font-size: 20px;
        color: #FAFAFA;
    }

    .resume h3 {
        font-size: 15px;
    }

    .skill {
        width: auto;
        height: auto;
        margin: 0px 10px;
    }

    .educations h4 {
        font-size: 14px;
        font-weight: 700;
    }

    .educations span {
        font-size: 15px;
    }

    .header::before {
        height: 489px;
        top: 131px;
        left: 58px;
    }

    .header::after {
        top: 161px;
        left: 54px;
    }

    .educations::after {
        top: 353px;
        left: 54px;
    }

    .educations p::after {
        top: 618px;
        left: 54px;
    }

    /* Potfolio page */
    #port {
        height: 2652px;
    }

    #potfolio {
        height: auto;
    }

    .website img {
        width: 338px;
        height: 200px;
    }

    .website h5 {
        margin-bottom: 15px;
    }

    /* Contact Page */
    .map-box {
        margin-top: 5px;
    }

    #contact h3 {
        width: auto;
        margin-left: 25px;
    }

    iframe {
        width: 334px;
        height: 260px;
    }

    textarea.form-input {
        width: 329px;
    }

    .input-container {
        width: 453px;
    }

    .form-button {
        margin-bottom: 18px;
        left: 168px;
    }

    .message-container {
        width: 321px;
        margin: 25px 18px;
    }

    .contactForm {
        width: 500px;
    }

    .input-wrapper {
        width: 352px;
        padding-left: 20px;
    }
}

@media(min-width:375px)and (max-width:424px) {
    #master-div {
        display: block;
    }

    #buto {
        top: 78px;
        left: 135px;
    }

    /* SideBar Page */
    #container-on {
        width: 351px;
        margin: auto;
        margin-top: 15px;
    }

    .sidebar {
        height: auto;
        display: block;
        align-items: center;
        justify-content: flex-start;
        gap: 5px;
        margin-bottom: 14px;
    }

    .profile {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-top: 15px;
    }

    .radius {
        margin: 0;
        width: 121px;
        height: 112px;
    }

    .sidebar img {
        width: 100px;
        height: 108px;
    }

    .button {
        width: 102px;
        height: 40px;
        margin: 0px 0px 4px 0px;
        font-size: 12px;
    }

    .button::after {
        width: auto;
        display: none;
    }

    .sidebar h3 {
        font-size: 17px;
    }

    .sidebar p {
        font-size: 12px;
    }

    .sidebar button {
        margin: 0px;
        height: 55px;

    }

    .sidecontact {
        margin: 0;
        margin-top: 17px;
        margin-left: 27px;
    }

    .sidebar button {
        margin: 0px;
    }

    .hide-show::before {
        content: '';
        display: block;
        position: absolute;
        width: 83%;
        top: 158px;
        height: 2px;
        background-color: #383838;
        margin-bottom: 10px;
        left: 35px;
    }

    .hide-show::after {
        content: '';
        display: block;
        position: absolute;
        top: 391px;
        width: 83%;
        left: 35px;
        height: 2px;
        background-color: #383838;
        margin-bottom: 5px;
    }

    .Icon-box {
        margin-top: 19px;
    }

    .close {
        display: none;
    }

    .sidebar ol {
        display: none;
    }

    .sidebar label {
        display: block;
        width: 38px;
        height: 35px;
        padding: 8px;
        right: 0px;
        top: 0px;
        text-align: center;
        background-color: #202022;
        color: #ceb15a;
        font-size: 12px;
        position: absolute;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }

    .sidebar input[type="checkbox"]:checked+ol {
        display: block;
    }

    #nav {
        position: fixed;
        display: flex;
        justify-content: center;
        top: 92vh;
        width: 100%;
        margin-left: -20px;
        height: 8vh;
        padding: 0px 10px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 0px;
        background: hsla(240, 1%, 17%, 0.75);
        backdrop-filter: blur(10px);
        left: 20px;
        z-index: 10;
    }

    #nav ul {
        gap: 9px;
        margin-top: 10px;
        padding-inline-start: 3px;
        font-size: 14px;
    }

    /* AboutUs Page */
    #main {
        width: 351px;
        height: auto;
        margin-bottom: 15vh;
    }

    .web {
        width: 328px;
        font-size: 14px;
        margin-top: 0px;
    }

    #aboutUs h2::after,
    #Contact h2::after,
    #resume h2::after,
    #potfolio h2::after {
        left: 31px;
        height: 4px;
        top: 49px;
        width: 40px;
    }

    .sidebar button::after {
        display: none;
    }

    #Adress {
        display: none;
    }

    #model {
        flex-wrap: wrap;
        margin-top: 18px;
        width: auto;
    }

    #AboutUS {
        height: 991px;
    }

    .model-one {
        height: 132px;
    }

    #aboutUs h2,
    #Contact h2,
    #resume h2,
    #potfolio h2 {
        font-size: 24px;
        font-weight: 600;
    }

    #imwhat {
        font-size: 20px;
        padding-left: 9px;
    }

    .tex p {
        font-size: 14px;
    }

    .tex h4 {
        font-size: 17px;
        color: #fafafa;
    }

    /* Resume Page */
    #resume {
        height: auto;
    }

    .educations p {
        line-height: 1.6;
        font-size: 13px;
        width: auto;
        font-weight: 300;
        margin-top: 8px;
    }

    .education-header {
        margin-top: 31px;
    }

    .resume h6 {
        font-size: 20px;
        color: #FAFAFA;
    }

    .resume h3 {
        font-size: 15px;
    }

    .skill {
        width: auto;
        height: auto;
        margin: 0px 10px;
    }

    .educations h4 {
        font-size: 14px;
        font-weight: 600;
        line-height: 1.3;
    }

    .educations span {
        font-size: 15px;
    }

    .header::after {
        top: 158px;
        left: 54px;
    }

    .header::before {
        height: 476px;
        top: 131px;
        left: 58px;
    }


    .educations::after {
        top: 342px;
        left: 54px;
    }

    .educations p::after {
        top: 597px;
        left: 54px;
    }

    /* Potfolio page */
    #port {
        height: 2668px;
    }

    #potfolio {
        height: auto;
    }

    .website img {
        width: 291px;
        height: 200px;
    }

    .website h5 {
        margin-bottom: 15px;
    }

    /* Contact Page */
    .map-box {
        margin-top: 5px;
    }

    #contact h3 {
        width: auto;
        margin-left: 25px;
    }

    iframe {
        width: 285px;
        height: 244px;
    }

    textarea.form-input {
        width: 289px;
    }

    .input-container {
        width: 453px;
    }

    .form-button {
        margin-bottom: 18px;
        left: 131px;
    }

    .message-container {
        width: 321px;
        margin-top: 25px;
        margin-left: 20px;
    }

    .contactForm {
        width: 500px;
    }

    .input-wrapper {
        width: 308px;
        padding-left: 20px;
    }
}

@media(min-width:360px)and (max-width:374px) {
    #master-div {
        display: block;
    }

    #buto {
        top: 72px;
        left: 117px;
    }

    /* SideBar Page */
    #container-on {
        width: 328px;
        margin: auto;
        margin-top: 15px;
    }

    .sidebar {
        height: auto;
        display: block;
        align-items: center;
        justify-content: flex-start;
        gap: 5px;
        margin-bottom: 14px;
    }

    .sidebar img {
        width: 102px;
        height: 102px;
    }

    .profile {
        padding-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .radius {
        width: 108px;
        height: 106px;
        margin: 0;
    }

    .button {
        width: auto;
        height: 41px;
        margin: 0;
        padding: 3px;
        font-size: 12px;
    }

    #full {
        font-size: 10px;
        text-align: start;
        padding-left: 10px;
        margin: 0;
    }

    .button::after {
        display: none;
    }

    .sidebar h3 {
        font-size: 15px;
    }

    .sidebar p {
        font-size: 12px;
    }

    .hide-show::before {
        content: '';
        display: block;
        position: absolute;
        width: 77%;
        top: 143px;
        height: 2px;
        background-color: #383838;
        margin-bottom: 10px;
        left: 40px;
    }

    .hide-show::after {
        content: '';
        display: block;
        position: absolute;
        top: 382px;
        width: 77%;
        left: 40px;
        height: 2px;
        background-color: #383838;
        margin-bottom: 5px;
    }

    .Icon-box {
        padding-top: 11px;
    }

    .close {
        display: none;
    }

    .sidebar ol {
        display: none;
    }

    .sidebar label {
        display: block;
        width: 38px;
        height: 35px;
        padding: 8px;
        top: 0;
        right: 0;
        text-align: center;
        background-color: #202022;
        color: #ceb15a;
        font-size: 12px;
        position: absolute;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }

    .sidebar input[type="checkbox"]:checked+ol {
        display: block;
    }

    .sidecontact {
        margin: 19px 0px 0px 25px;
    }

    #nav {
        position: fixed;
        display: flex;
        justify-content: center;
        top: 92vh;
        width: 100%;
        margin-left: -20px;
        height: 8vh;
        padding: 7px 10px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 0px;
        background: hsla(240, 1%, 17%, 0.75);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        left: 20px;
    }

    #nav ul {
        gap: 15px;
        font-size: 13px;
        padding-inline-start: 3px;
    }

    /* AboutUs Page */
    #main {
        width: 328px;
        height: auto;
        margin-bottom: 15vh;
    }

    .web {
        width: 294px;
        font-size: 14px;
        margin-top: 0px;
    }

    #aboutUs h2::after,
    #Contact h2::after,
    #resume h2::after,
    #potfolio h2::after {
        left: 31px;
        height: 4px;
        top: 49px;
        width: 40px;
    }

    .sidebar button::after {
        display: none;
    }

    #Adress {
        display: none;
    }

    #model {
        flex-wrap: wrap;
        margin-top: 18px;
        width: auto;
    }

    #AboutUS {
        height: auto;
    }

    .model-one {
        height: 132px;
    }

    #aboutUs h2,
    #Contact h2,
    #resume h2,
    #potfolio h2 {
        font-size: 24px;
        font-weight: 600;
    }

    #imwhat {
        font-size: 20px;
        padding-left: 9px;
    }

    .tex p {
        font-size: 14px;
    }

    .tex h4 {
        font-size: 17px;
        color: #fafafa;
    }

    /* Resume Page */
    #resume {
        height: auto;
    }

    .educations p {
        line-height: 1.6;
        font-size: 13px;
        width: auto;
        font-weight: 300;
        margin-top: 8px;
    }

    .education-header {
        margin-top: 31px;
    }

    .resume h6 {
        font-size: 20px;
        color: #FAFAFA;
    }

    .resume h3 {
        font-size: 15px;
    }

    .skill {
        width: auto;
        height: auto;
        margin: 0px 10px;
    }

    .educations h4 {
        font-size: 14px;
        font-weight: 600;
        line-height: 1.3;
    }

    .educations span {
        font-size: 15px;
    }

    .header::after {
        top: 158px;
        left: 54px;
    }

    .header::before {
        height: 472px;
        top: 131px;
        left: 58px;
    }

    .educations {
        margin-inline-start: 73px;
    }

    .educations::after {
        top: 339px;
        left: 54px;
    }

    .educations p::after {
        top: 596px;
        left: 54px;
    }

    /* Potfolio page */
    #port {
        height: 2553px;
    }

    .devlop {
        padding: 10px 0px;
    }

    #potfolio {
        height: auto;
    }

    .website img {
        width: 264px;
        height: 189px;
    }

    .resume h5 {
        margin-bottom: 15px;
    }

    /* Contact Page */
    .map-box {
        margin-top: 5px;
    }

    #contact h3 {
        width: auto;
        margin-left: 25px;
    }

    iframe {
        width: 261px;
        height: 220px;
    }

    textarea.form-input {
        width: 255px;
    }

    .input-container {
        width: 453px;
    }

    .form-button {
        width: 255px;
        margin-bottom: 18px;
        left: 22px;
    }

    .message-container {
        width: auto;
        margin-top: 25px;
        margin-left: 20px;
    }

    .contactForm {
        width: 500px;
    }

    .input-wrapper {
        width: 274px;
        padding-left: 19px;
    }
}