* {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
}

/* scroll bar */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #c4c4c452;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    background-color: #212529;
    border-radius: 50px;
    border: 3px solid transparent;
    background-clip: content-box;
}

/* close scrllBar */

.active {
    color: #ceb15a;
    font-weight: bold;
}

#master-div {
    display: flex;
    background-color: black;
    gap: 15px;
    margin: 0px 10px;
}

/* Main section */
#main {
    width: 90%;
    height: auto;
    position: relative;
    border-radius: 20px;
    background-color: hsl(240deg 1.64% 11.96%);
    border: 1px solid hsl(0deg 0% 21.96%);
    padding: 0;
    margin-top: 15px;
    padding-bottom: 20px;
    margin-bottom: 10vh;
}

/* sideBar css */
#container-on {
    width: 290px;
    margin-top: 15px;
}

.sidebar {
    width: 280px;
    height: 623px;
    border-radius: 20px;
    position: relative;
    border: 1px solid hsl(0deg 0% 21.96%);
    background-color: #1e1e1f;
}

.radius {
    width: 155px;
    height: 155px;
    border: 2px solid #e0c264;
    margin: 25px 60px;
    border-radius: 50%;
}

.sidebar img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 3px;
    margin-bottom: 15px;
}

.sidebar h3 {
    color: #fafafa;
    font-size: 23px;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
}

.sidebar p {
    color: white;
    text-align: center;
    margin-bottom: 21px;
    font-size: 16px;
}

.button {
    width: 130px;
    position: relative;
    height: 33px;
    padding: 6px;
    border-radius: 10px;
    font-size: 15px;
    box-shadow: -2px -2px 0px 0px #383838;
    background-color: #2b2b2c;
    border: none;
    margin: 10px 0px 4px 74px;
}

.button::after {
    content: "";
    position: absolute;
    width: 226px;
    height: 3px;
    left: 60px;
    transform: translateX(-50%);
    top: 40px;
    margin-top: 5px;
    background-color: #2b2b2c;
    border-radius: 5px;
}

.sidebar label,
.sidebar input[type="checkbox"] {
    display: none;
    font-size: 22px;
    transition: opacity 0.5s ease;
}

.sidebar label {
    display: none;
    width: 120px;
    height: 36px;
    padding: 8px;
    right: 0px;
    top: 0px;
    background-color: #202022;
    color: #ceb15a;
    font-size: 12px;
    position: absolute;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

ol {
    padding-left: 0px;
}

.sidecontact {
    padding: 8px;
    display: block;
}

.phone {
    display: flex;
    gap: 12px;
}

.email i {
    width: 48px;
    height: 48px;
    text-align: center;
    padding-top: 14px;
    font-size: 18px;
    border-radius: inherit;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 12px;
}

.contact {
    line-height: 7px;
}

.contact p {
    font-size: 14px;
    margin-bottom: 0px;
}

.contact a {
    text-decoration: none;
    font-size: 14px;
    color: #fafafa;
}

.sidecontact {
    width: 226px;
    height: 280px;
    margin: auto;
    margin-top: 26px;
}

.social_list {
    height: 22px;
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 18px;
    list-style: none;
    margin: 13px 40px;
    padding-top: 10px;
}

/* Navbar CSS */
#nav {
    width: 474px;
    height: 70px;
    background-color: #2B2B2CBF;
    border: 2px solid #383838;
    border-top: none;
    border-right: none;
    border-bottom-left-radius: 20px;
    border-start-end-radius: 20px;
    display: flex;
    float: right;
    padding-left: 10px;
}

#nav ul {
    display: flex;
    list-style: none;
    gap: 50px;
    padding-top: 20px;
    cursor: pointer;
    color: #fafafa;
}

/* AboutUs css Start */
#AboutUS {
    height: 600px;
    background-color: #1E1E1F;
    border-radius: 20px;
}

#aboutUs h2,
#Contact h2,
#resume h2,
#potfolio h2 {
    font-size: 32px;
    color: hsl(0deg 0% 98.04%);
    font-weight: 500;
    padding: 15px 20px;
}

#aboutUs h2::after,
#Contact h2::after,
#resume h2::after,
#potfolio h2::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 8px;
    border-radius: 8px;
    top: 59px;
    left: 46px;
    background-color: #e0c264;
}

#aboutUs p {
    color: #c4c4c4;
    padding-left: 20px;
    padding-top: 20px;
}

.hello h2 {
    color: #c4c4c4;
    padding-left: 20px;
    padding-top: 20px;
}

#imwhat {
    font-size: 20px;
    color: #fafafa;
    padding-left: 25px;
}

.tex h4 {
    padding-left: 15px;
    margin-bottom: -10px;
}

#model {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 43px;
}

.model-one {
    width: 470px;
    height: 140px;
    border-radius: 20px;
    display: flex;
    gap: 20px;
    padding: 25px;
    padding-left: 20px;
    background: #202022;
    box-shadow: -1.8px -1.5px 1px 0px #3b3b3b;
}

.web {
    width: 1000px;
    margin-top: 40px;
}

#job {
    margin-top: 0;
}

.model-one i {
    font-size: 35px;
    color: #e0c264;
}

.tex h4 {
    font-size: 20px;
    color: #fafafa;
}

.tex p {
    color: hsl(0deg 0.97% 79.8%);
}

/* Resume Section */
.header {
    display: flex;
    gap: 25px;
}

.resume h6 {
    font-size: 20px;
    color: #FAFAFA;
}

.education-header {
    margin-top: 55px;
}

.red {
    width: 860px;
}

.header h3 {
    font-size: 24px;
    color: #FAFAFA;
}

.icon-box {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    padding-top: 7px;
    color: #e0c264;
    text-align: center;
    margin-left: 26px;
    background: #202022;
    box-shadow: #3b3b3b 0px 50px 100px -20px, #3b3b3b 0px 30px 60px -30px, #3b3b3b 1px 1px 0.9px 0px inset;
}

.header::before {
    content: '';
    position: absolute;
    height: 292px;
    width: 1px;
    left: 69px;
    top: 166px;
    background-color: #3b3b3b;
}

.header::after {
    content: "";
    position: absolute;
    top: 196px;
    left: 64px;
    height: 10px;
    width: 10px;
    background-color: #e0c264;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 5px #383838;
}

.educations::after {
    content: "";
    position: absolute;
    top: 315px;
    left: 64px;
    height: 10px;
    width: 10px;
    background-color: #e0c264;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 5px #383838;
}

.educations p::after {
    content: "";
    position: absolute;
    top: 457px;
    left: 64px;
    height: 10px;
    width: 10px;
    background-color: #e0c264;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 5px #383838;
}

.educations {
    margin-inline-start: 92px;
}

.educations span {
    color: #ceb15a;
    margin: 0px;
}

.educations p {
    color: #D6D6D6;
    font-size: 15px;
    margin-top: 8px;
}

.educations h4 {
    font-size: 16px;
    color: #f9f9f9;
}

.skill {
    width: 948px;
    height: 240px;
    background: #202022;
    padding: 20px;
    border-radius: 20px;
    box-shadow: -2px -2px 0px 0px #383838;
    margin-inline-start: 15px;
}

.skills h3 {
    margin-inline-start: 15px;
    color: #f9f9f9;
    font-weight: 600;
}

.skills h5 {
    color: #f9f9f9;
    font-size: 18px;
    padding-top: 8px;
}

/* Potfolio Page */
.website img {
    width: 320px;
    height: 220px;
    border-radius: 15px;
}

.devlop {
    padding-top: 10px;
}

.website h3 {
    margin: 2px 5px;
    color: #ececec;
    font-size: 19px;
    overflow: hidden;
}

.website h5 {
    margin: 4px 8px;
    color: #8e8e8e;
    font-size: 16px;
}

#buto {
    width: 48px;
    height: 48px;
    font-size: 22px;
    border-radius: 12px;
    border: none;
    color: #ffdb70;
    position: absolute;
    top: 80px;
    left: 133px;
    display: none;
    background-color: #383838af;
}

.website:hover {
    transform: scale(0.99);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    background-blend-mode: hue;
    overflow: hidden;
}

.website:hover #buto {
    transform: scale(0.99);
    transition: all 0.5s ease-in-out;
    background-blend-mode: hue;
    display: block;
}

/* Contact Page */
.map-container {
    color: rgba(43, 43, 44, 0.8);
}

.map-box {
    width: auto;
    margin-top: 20px;
}

iframe {
    height: 380px;
    margin: 20px 20px;
    border-radius: 20px;

}

.input-wrapper {
    width: 1000px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    padding-left: 30px;
}

.input-container,
.message-container {
    position: relative;
    width: 447px;
}

.input-label {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    padding: 0 5px;
    transition: all 0.2s ease-in-out;
    color: #707070;
    pointer-events: none;
    font-size: 16px;
    background-color: transparent;
}

.form-input {
    color: white;
    border: 1px solid #ccc;
    padding: 15px 20px;
    border-radius: 17px;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease-in-out;
    background-color: transparent;
}

input.form-input {
    height: 55px;
}

textarea.form-input {
    width: 924px;
    min-height: 100px;
    resize: none;
}

.form-input:focus {
    border-color: #ceb15a;
    outline: none;
}

.form-input:focus+.input-label,
.form-input:not(:placeholder-shown)+.input-label {
    top: -8px;
    font-size: 12px;
    color: #ceb15a;
}

#contact h3 {
    color: #D6D6D6;
    margin: 14px 28px;
    font-weight: 600;
}

.input-wrapper input::placeholder,
textarea::placeholder {
    color: transparent;
}

.message-container {
    margin: 25px 30px;
}

.form-button {
    width: 180px;
    height: 55px;
    border-radius: 10px;
    color: #ceb15a;
    background-color: #202022;
    border: none;
    position: relative;
    margin-bottom: 10px;
    left: 769px;
    box-shadow: -2px -2px 0px 0px #383838;
}

.form-button i {
    font-size: 20px;
    color: #ceb15a;
}